.dropdown-toggle:hover {
	cursor: pointer;
}

.front-page-text {
	font-family: 'Comfortaa', cursive;
}

.light-box {
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px;
	overflow: hidden;
}

.btm-border {
	border-bottom: 2px dotted #ccc;
}

.good-service {
	border-left: 2px dotted #ccc;
	background-color: #ddeaf0;
}

.page-header {
	padding-top: 2%;
}

.crumbs-top {
	margin-top: 12%;
}

.navbar-color {
	background-color: #fff !important;
}

.error-message {
	color: red;
}

.form-group-error {
	margin-top: 1rem;
}

.user-button {
	margin-left: 50%;
	font-weight: bold;
	font-size: 17px;
	color: #004a87 !important;
}

.tabs-list {
	border-bottom: 1px solid #ddd;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.tabs-list > li {
	float: left;
	margin-bottom: -1px;
	position: relative;
	display: block;
}

.tabs-list > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	position: relative;
	display: block;
	padding: 10px 15px;
}

.tabs-list > li.active > a {
	color: #555;
	cursor: default;
	background-color: #f8f9fa;
	border: 1px solid #ddd;
	border-bottom-color:
	transparent;
}

.btn.btn-grey {
	background-color: #dedede;
}

.btn.btn-grey:hover, .btn.btn-grey:active {
	background-color: #cecece;
}

.btn.btn-big {
	font-size: 18px;
	padding: 10px 16px;
	margin: 20px;
}

/* Progress Bar */

.progressbar {
	counter-reset: step;
	list-style: none;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.progressbar li {
	position: relative;
	text-align: center;
	display: table-cell;
}

.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 50px;
	height: 50px;
	border: 2px solid #bebebe;
	display: block;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	line-height: 47px;
	background: white;
	color: #bebebe;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	z-index: 1;
}

.progressbar li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	background: #979797;
	top: 25px;
	left: -50%;
	z-index: 0;
}

.progressbar li:first-child:after {
	content: none;
}

.progressbar li.active:after{
	background: #ffac1c;
}
.progressbar li.active:before{
	border-color: #ffac1c;
	background: #ffac1c;
	color: white
}